@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --navbar-background-color : #0079ff;
  --navbar-links-color : #fff;
  --navbar-logo-color  : #0d1b2a;
  --body-background-color : #fff;

}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}
body{
  background-color: var(--body-background-color);
  height:100%;
}
#root{
  height: 100%;
}